@use 'variables';

.container-nublado {
    background: rgb(28, 145, 245);
    background: linear-gradient(180deg, rgba(28, 145, 245, 1) 0%, rgba(237, 188, 16, 1) 100%);
}

footer p, #place, #main, #description, #temperature {
    color: variables.$black-color;
}